body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ct {
    text-align:center;
}

.br {
    width: 100%;
    border: 1px solid black;
    border-collapse:collapse;
}

.br th, .br td {
    border: 1px solid black;
    padding: 10px
}

.inline-bold {
    display:inline;
    font-size:large;
    font-weight:bold;
}

.inline {
    display:inline;
}

.message {
    font-style:italic;
    color: green;
}

.error {
    font-style:italic;
    color: red;
}